name: Deploy to IoT Edge

on:
  workflow_call:
    inputs:
      iteration_id:
        description: Custom Vision の Iteration ID
        required: true
        type: string
  workflow_dispatch:
    inputs:
      iteration_id:
        description: Custom Vision の Iteration ID
        required: true
        type: string

env:
  CUSTOM_VISION_EXPORTED_MODEL_IMAGE: ghcr.io/dzeyelid/edgeai-cicd-with-github-demo/custom-vision
  CUSTOM_VISION_ITERATION_ID: ${{ github.event.inputs.iteration_id || inputs.iteration_id }}
  IOT_HUB_NAME: iot-edgeai-debug
  IOT_EDGE_DEPLOYMENT_MANIFEST_FILE_NAME: deployment_${{ github.event.inputs.iteration_id || inputs.iteration_id }}.json
  IOT_EDGE_TARGET_CONDITION: tags.environment='demo'

jobs:
  make_manifest:
    name: Make IoT Edge Deployment manifest
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      IOT_EDGE_DIR_PATH: ./iot-edge

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3


      - name: Make a manifest
        run: |
          DEPLOYMENT_JSON=$(cat ./deployment.json)
          DEPLOYMENT_JSON=$(echo $DEPLOYMENT_JSON | \
            jq ".content.modulesContent.\"\$edgeAgent\".\"properties.desired\".runtime.settings.registryCredentials.ghcr.password=\"${PAT_FOR_CONTAINER_REGISTRY}\"")
          DEPLOYMENT_JSON=$(echo $DEPLOYMENT_JSON | \
            jq ".content.modulesContent.\"\$edgeAgent\".\"properties.desired\".modules.\"custom-vision\".settings.image=\"${CUSTOM_VISION_EXPORTED_MODEL_IMAGE}:${CUSTOM_VISION_ITERATION_ID}\"")
          DEPLOYMENT_JSON=$(echo $DEPLOYMENT_JSON | \
            jq ".content.modulesContent.\"\$edgeAgent\".\"properties.desired\".modules.\"custom-vision\".version=\"${CUSTOM_VISION_MODEL_VERSION}\"")
          echo $DEPLOYMENT_JSON | jq > ${IOT_EDGE_DEPLOYMENT_MANIFEST_FILE_NAME}
        env:
          PAT_FOR_CONTAINER_REGISTRY: ${{ secrets.PAT_FOR_CONTAINER_REGISTRY }}
        working-directory: ${{ env.IOT_EDGE_DIR_PATH }}


      - name: Upload the manifest to artifacts
        uses: actions/upload-artifact@v3.1.1
        with:
          name: ${{ env.IOT_EDGE_DEPLOYMENT_MANIFEST_FILE_NAME }}
          path: ${{ env.IOT_EDGE_DIR_PATH }}/${{ env.IOT_EDGE_DEPLOYMENT_MANIFEST_FILE_NAME }}


  deploy:
    name: Deploy to IoT Edge
    needs: make_manifest
    runs-on: ubuntu-latest
    steps:
      - name: Download the exported model from artifacts
        uses: actions/download-artifact@v3.0.1
        with:
          name: ${{ env.IOT_EDGE_DEPLOYMENT_MANIFEST_FILE_NAME }}


      - name: Install Azure IoT extension
        run: az extension add --name azure-iot


      - name: Login to Azure
        uses: Azure/login@v1.4.6
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}


      - name: Deploy to IoT Edge
        run: |
          az iot edge deployment create --deployment-id ${CUSTOM_VISION_ITERATION_ID} --hub-name ${IOT_HUB_NAME} --content ./${IOT_EDGE_DEPLOYMENT_MANIFEST_FILE_NAME} --target-condition ${IOT_EDGE_TARGET_CONDITION}
