name: Export a model, build and publish it

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on:
  # push:
  #   branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
    inputs:
      iteration_id:
        description: Custom Vision „ÅÆ Iteration ID

env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}/custom-vision
  CUSTOM_VISION_ENDPOINT: cvisionedgeaidebug.cognitiveservices.azure.com
  CUSTOM_VISION_PROJECT_ID: c7e5e1ee-b55b-4d4a-9341-5e8323bc0af2
  CUSTOM_VISION_EXPORT_PLATFORM: Dockerfile
  CUSTOM_VISION_EXPORT_FLAVOR: Linux
  CUSTOM_VISION_EXPORTED_MODEL_ARTIFACT_NAME: exported-model
  CUSTOM_VISION_EXPORTED_MODEL_PATH: ./exported-model

jobs:
  read_iteration:
    name: Read iteration
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      CUSTOM_VISION_ITERATION_ID: ${{ steps.workflow_dispatch.outputs.CUSTOM_VISION_ITERATION_ID || steps.from_app-env.outputs.CUSTOM_VISION_ITERATION_ID }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3


      - name: Set CUSTOM_VISION_ITERATION_ID from workflow_dispatch input
        if: github.event_name == 'workflow_dispatch'
        id: from-workflow_dispatch
        run: |
          echo "CUSTOM_VISION_ITERATION_ID=${CUSTOM_VISION_ITERATION_ID}" >> $GITHUB_OUTPUT
        env:
          CUSTOM_VISION_ITERATION_ID: ${{ github.event.inputs.iteration_id }}


      - name: Set CUSTOM_VISION_ITERATION_ID from app\'s env
        if: github.event_name != 'workflow_dispatch'
        id: from_app-env
        run: |
          set -a; source .env.demo; set +a
          echo "CUSTOM_VISION_ITERATION_ID=${CUSTOM_VISION_ITERATION_ID}" >> $GITHUB_OUTPUT
        working-directory: app


  download_model:
    name: Download model
    needs: read_iteration
    runs-on: ubuntu-latest
    steps:
      - name: Export a model from Custom Vision project
        run: |
          curl -X POST \
            --no-progress-meter \
            -H "training-key: ${CUSTOM_VISION_TRAINING_KEY}" \
            -H "content-length: 0" \
            "https://${CUSTOM_VISION_ENDPOINT}/customvision/v3.3/training/projects/${CUSTOM_VISION_PROJECT_ID}/iterations/${CUSTOM_VISION_ITERATION_ID}/export?platform=${CUSTOM_VISION_EXPORT_PLATFORM}&flavor=${CUSTOM_VISION_EXPORT_FLAVOR}"
          EXPORTS=$(curl -X GET \
            -H "training-key: ${CUSTOM_VISION_TRAINING_KEY}" \
            --no-progress-meter \
            "https://${CUSTOM_VISION_ENDPOINT}/customvision/v3.3/training/projects/${CUSTOM_VISION_PROJECT_ID}/iterations/${CUSTOM_VISION_ITERATION_ID}/export")
          DOWNLOAD_URI=$(echo ${EXPORTS} | jq -r ".[] | select(.platform == \"DockerFile\") | .downloadUri")
          FILE_NAME=$(echo ${DOWNLOAD_URI} | sed -r "s/.*\/([^\/]*.zip)\?.*/\\1/g")
          curl -o ${FILE_NAME} ${DOWNLOAD_URI}
          unzip ${FILE_NAME} -d ${CUSTOM_VISION_EXPORTED_MODEL_PATH}
        env:
          CUSTOM_VISION_ITERATION_ID: ${{ needs.read_iteration.outputs.CUSTOM_VISION_ITERATION_ID }}
          CUSTOM_VISION_TRAINING_KEY: ${{ secrets.CUSTOM_VISION_TRAINING_KEY }}


      - name: Upload the exported model to artifacts
        uses: actions/upload-artifact@v3.1.1
        with:
          name: ${{ env.CUSTOM_VISION_EXPORTED_MODEL_ARTIFACT_NAME }}
          path: ${{ env.CUSTOM_VISION_EXPORTED_MODEL_PATH }}


  build_and_push:
    name: Build and push docker image including model
    needs:
      - read_iteration
      - download_model
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    defaults:
      run:
        working-directory: ${{ env.CUSTOM_VISION_EXPORTED_MODEL_PATH }}
    steps:
      - name: Download the exported model from artifacts
        uses: actions/download-artifact@v3.0.1
        with:
          name: ${{ env.CUSTOM_VISION_EXPORTED_MODEL_ARTIFACT_NAME }}
          path: ${{ env.CUSTOM_VISION_EXPORTED_MODEL_PATH }}


      # Workaround: https://github.com/docker/build-push-action/issues/461
      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v2.2.1


      # Login against a Docker registry except on PR
      # https://github.com/docker/login-action
      - name: Log into registry ${{ env.REGISTRY }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v2.1.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}


      # Extract metadata (tags, labels) for Docker
      # https://github.com/docker/metadata-action
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v4.1.1
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=${{ needs.read_iteration.outputs.CUSTOM_VISION_ITERATION_ID }}


      # Build and push Docker image with Buildx (don't push on PR)
      # https://github.com/docker/build-push-action
      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v3.2.0
        with:
          context: ${{ env.CUSTOM_VISION_EXPORTED_MODEL_PATH }}
          # push: ${{ github.event_name != 'pull_request' }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max


  deploy:
    name: Deploy to IoT Edge
    needs:
      - read_iteration
      - build_and_push
    uses: ./.github/workflows/cd.yml
    with:
      iteration_id: ${{ needs.read_iteration.outputs.CUSTOM_VISION_ITERATION_ID }}
    secrets: inherit
